<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>titleName</key>
		<string>常用</string>
		<key>areas</key>
		<array>
			<dict>
				<key>country</key>
				<string>中国</string>
				<key>addressNum</key>
				<string>86</string>
			</dict>
			<dict>
				<key>country</key>
				<string>香港地区</string>
				<key>addressNum</key>
				<string>00852</string>
			</dict>
			<dict>
				<key>country</key>
				<string>台湾地区</string>
				<key>addressNum</key>
				<string>00886</string>
			</dict>
			<dict>
				<key>country</key>
				<string>澳门地区</string>
				<key>addressNum</key>
				<string>00853</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>titleName</key>
		<string>A</string>
		<key>areas</key>
		<array>
			<dict>
				<key>country</key>
				<string>澳大利亚</string>
				<key>addressNum</key>
				<string>0061</string>
			</dict>
			<dict>
				<key>country</key>
				<string>澳门地区</string>
				<key>addressNum</key>
				<string>00853</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>titleName</key>
		<string>B</string>
		<key>areas</key>
		<array>
			<dict>
				<key>country</key>
				<string>巴西</string>
				<key>addressNum</key>
				<string>0055</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>titleName</key>
		<string>D</string>
		<key>areas</key>
		<array>
			<dict>
				<key>country</key>
				<string>德国</string>
				<key>addressNum</key>
				<string>0049</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>titleName</key>
		<string>E</string>
		<key>areas</key>
		<array>
			<dict>
				<key>country</key>
				<string>俄罗斯</string>
				<key>addressNum</key>
				<string>007</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>titleName</key>
		<string>F</string>
		<key>areas</key>
		<array>
			<dict>
				<key>country</key>
				<string>法国</string>
				<key>addressNum</key>
				<string>86</string>
			</dict>
			<dict>
				<key>country</key>
				<string>菲律宾</string>
				<key>addressNum</key>
				<string>0063</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>titleName</key>
		<string>H</string>
		<key>areas</key>
		<array>
			<dict>
				<key>country</key>
				<string>韩国</string>
				<key>addressNum</key>
				<string>0082</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>titleName</key>
		<string>J</string>
		<key>areas</key>
		<array>
			<dict>
				<key>country</key>
				<string>加拿大</string>
				<key>addressNum</key>
				<string>001</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>titleName</key>
		<string>L</string>
		<key>areas</key>
		<array>
			<dict>
				<key>country</key>
				<string>老挝</string>
				<key>addressNum</key>
				<string>00856</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>titleName</key>
		<string>M</string>
		<key>areas</key>
		<array>
			<dict>
				<key>country</key>
				<string>马来西亚</string>
				<key>addressNum</key>
				<string>0060</string>
			</dict>
			<dict>
				<key>country</key>
				<string>美国</string>
				<key>addressNum</key>
				<string>001</string>
			</dict>
			<dict>
				<key>country</key>
				<string>缅甸</string>
				<key>addressNum</key>
				<string>0095</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>titleName</key>
		<string>R</string>
		<key>areas</key>
		<array>
			<dict>
				<key>country</key>
				<string>日本</string>
				<key>addressNum</key>
				<string>0081</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>titleName</key>
		<string>T</string>
		<key>areas</key>
		<array>
			<dict>
				<key>country</key>
				<string>台湾地区</string>
				<key>addressNum</key>
				<string>00886</string>
			</dict>
			<dict>
				<key>country</key>
				<string>泰国</string>
				<key>addressNum</key>
				<string>0066</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>titleName</key>
		<string>W</string>
		<key>areas</key>
		<array>
			<dict>
				<key>country</key>
				<string>文莱</string>
				<key>addressNum</key>
				<string>00673</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>titleName</key>
		<string>X</string>
		<key>areas</key>
		<array>
			<dict>
				<key>country</key>
				<string>香港地区</string>
				<key>addressNum</key>
				<string>00852</string>
			</dict>
			<dict>
				<key>country</key>
				<string>新加坡</string>
				<key>addressNum</key>
				<string>0065</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>titleName</key>
		<string>Y</string>
		<key>areas</key>
		<array>
			<dict>
				<key>country</key>
				<string>印度</string>
				<key>addressNum</key>
				<string>0091</string>
			</dict>
			<dict>
				<key>country</key>
				<string>印尼</string>
				<key>addressNum</key>
				<string>0062</string>
			</dict>
			<dict>
				<key>country</key>
				<string>英国</string>
				<key>addressNum</key>
				<string>0044</string>
			</dict>
			<dict>
				<key>country</key>
				<string>越南</string>
				<key>addressNum</key>
				<string>0084</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>titleName</key>
		<string>Z</string>
		<key>areas</key>
		<array>
			<dict>
				<key>country</key>
				<string>中国</string>
				<key>addressNum</key>
				<string>86</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
